* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f1f5f8;
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
}
.container {
  width: 90%;
  max-width: 60rem;
  margin-inline: auto;
}
img {
  display: block;
  width: 100%;
}
.cocktail {
  box-shadow: 5px 5px 5px 5px gray;
  margin-top: 1.5rem;
  padding: 0 0 0.5rem 0;
  display: grid;
  grid-template-rows: auto 1fr;
}
.cocktail-items {
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .cocktail-items {
    grid-template-columns: repeat(3, 1fr);
  }
}

.cocktail img {
  object-fit: cover;
}
.cocktail .footer {
  margin: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cocktail p {
  margin-bottom: 8px;
}
.cocktail .details-btn {
  background-color: rgb(5, 75, 5);
  padding: 6px 12px;
  color: white;
  cursor: pointer;

  width: 80px;
}
a {
  text-decoration: none;
}
.name,
.glass {
  font-size: 1.7rem;
  font-weight: bold;
}
.search {
  box-shadow: 5px 5px 5px 5px gray;
  padding: 1rem 1.5rem;
  text-transform: capitalize;
  border-radius: 10px;
  color: rgb(79, 202, 79);
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 85vw;
  max-width: 40rem;
  margin-inline: auto;
  margin-bottom: 2rem;
}

.search input {
  outline: none;
  border: 2px solid green;
  padding: 3px;
}
.image {
  object-fit: cover;
  width: 100%;
  display: block;
}

.drink {
  width: 85vw;
  max-width: 60rem;
  margin: 0 auto;
  text-align: left;
}
drink img {
  border-radius: 0.25rem;
}

.drink p {
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.8;
}

.drink span {
  margin-right: 0.5rem;
}

.drink-data {
  background: #d4e6a5;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  color: #476a2e;
}

.drink-info {
  padding-top: 2rem;
}

@media screen and (min-width: 992px) {
  .drink {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 3rem;
    align-items: center;
  }

  .drink-info {
    padding-top: 0;
  }
}
.btn {
  background-color: rgb(5, 75, 5);
  padding: 6px 12px;
  color: white;
  cursor: pointer;

  width: 80px;
  margin-top: 2rem;
  margin-inline: auto;
}
.single-cocktail {
  margin: 2rem 0;
  text-align: center;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /*box-shadow:5px 5px 5px 5px gray;*/
  height: 80px;
  margin-bottom: 3rem;
}
.nav-links {
  display: flex;
  align-items: center;
}
ul {
  list-style: none;
}
.nav-links a {
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
}
.logo {
  font-weight: bold;
  font-size: 28px;
}
@media screen and (min-width: 576px) {
  .navbar {
    flex-direction: row;
  }
}

.nav {
  background-color: black;
}
.loading,
.no-cocktail {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-weight: bold;
  flex-direction: column;
}
.error-btn {
  width: 200px;
}
.about {
  margin-inline: auto;
  max-width: 40rem;
  width: 100%;
}
.about h1 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.about-para {
  font-size: 1.5em;
}
.main-title {
  text-align: center;
}
